DEPLOY_HOST= # Required. e.g. "your.server.ip"
DEPLOY_USER= # Required. e.g. "root"
DEPLOY_PORT= # Optional. default 22
DEPLOY_REMOTE_DIR= # Required. e.g. "/var/www/website"
DEPLOY_PRIVATE_KEY_PATH= # Path to private key (recommended)
DEPLOY_PASSWORD= # Password (alternative to key)
DEPLOY_DELETE= # "1" to delete files on remote that no longer exist locally